[Unit]
Description=node
Requires=conversd.service

[Service]
ExecStartPre=+systemctl stop tnc fldigi sstv wsjtx ardop tnc300b digipeater winlinkrms js8call tracker webchat
ExecStart=/home/pi/direwolf.node.sh
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi
TimeoutStopSec=3
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
