[Unit]
Description=pat
Requires=rigctld.service

[Service]
ExecStartPre=+systemctl stop fldigi sstv wsjtx tnc300b digipeater js8call
ExecStartPre=sleep 1
#ExecStart=/usr/bin/pat-winlink http
ExecStart=/usr/bin/pat http
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi


[Install]
WantedBy=multi-user.target
