[Unit]
Description=sstv 

[Service]
ExecStartPre=+systemctl stop tnc fldigi wsjtx ardop tnc300b digipeater node winlinkrms pat js8call
ExecStart=/home/pi/sstv.sh
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target

