[Unit]
Description=tnc
After=graphical.target

[Service]
ExecStartPre=+systemctl stop fldigi sstv wsjtx ardop tnc300b digipeater node winlinkrms js8call
Type=simple
ExecStart=/home/pi/direwolf.tnc.sh
Restart=no
WorkingDirectory=/home/pi/
User=pi

[Install]
WantedBy=graphical.target

