[Unit]
Description=ardopc - ARDOP softmodem for pi
After=network.target sound.target

[Service]
ExecStartPre=+systemctl stop fldigi sstv wsjtx tnc300b digipeater tnc node js8call
ExecStart=/home/pi/ardop.sh 
User=pi
Restart=no

[Install]
WantedBy=multi-user.target
