[Unit]
Description=js8call
#Requires=rigctld.service

[Service]
ExecStartPre=+systemctl stop fldigi tnc sstv wsjtx ardop tnc300b digipeater node winlinkrms pat
ExecStart=/home/pi/js8call.sh
WorkingDirectory=/home/pi/
StandardOutput=inherit
StandardError=inherit
Restart=no
User=pi
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
